***Importing necesseary libraries***

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

*Loading our data*

In [21]:
df_train=pd.read_csv("/kaggle/input/titanic-dataset/train.csv")
df_test=pd.read_csv("/kaggle/input/titanic-dataset/test.csv")
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

**Data preprocessing**

In [67]:

df_train["Age"].fillna(df_train["Age"].mean(), inplace=True)

df_train["Embarked"].dropna()

df_test["Age"].fillna(df_test["Age"].mean(), inplace=True)

df_test["Fare"].fillna(df_test["Fare"].mean(),inplace=True)
print(df_train.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

<ipython-input-67-4d58a02fbae4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train["Age"].fillna(df_train["Age"].mean(), inplace=True)
<ipython-input-67-4d58a02fbae4>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Age"].fillna(df_test["Age"].mean(), inplace=True)
<ipython-input-67-4d58a02fbae4>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Fare"].fillna(df_test["Fare"].mean(),inplace=True)

**Enconding the necessary columns**

In [53]:
from sklearn.preprocessing import LabelEncoder

# Initialize the encoder
label_encoder = LabelEncoder()
#encoding the necessary colmumns for the training dataframe

df_train['Cabin'] = label_encoder.fit_transform(df_train['Cabin'])
df_train['Name']=label_encoder.fit_transform(df_train['Name'])
df_train['Sex']=label_encoder.fit_transform(df_train['Sex'])
df_train["Ticket"]=label_encoder.fit_transform(df_train['Ticket'])
df_train['Embarked']=label_encoder.fit_transform(df_train['Embarked'])
#encoding the necessary columns for the testing dataframe
df_test['Cabin'] = label_encoder.fit_transform(df_test['Cabin'])
df_test['Name']=label_encoder.fit_transform(df_test['Name'])
df_test['Sex']=label_encoder.fit_transform(df_test['Sex'])
df_test["Ticket"]=label_encoder.fit_transform(df_test['Ticket'])
df_test['Embarked']=label_encoder.fit_transform(df_test['Embarked'])

***Splitting the data***

In [52]:
X_train=df_train.drop("Survived",axis=1)
y_train=df_train["Survived"]

****Training the Model****

In [70]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
# Make predictions
y_pred = model.predict(df_test)
output = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': y_pred})
output.to_csv('submission.csv', index=False)